* {
    /* padding: 0; */
    margin: 0;
    box-sizing: inherit;
}

:root {
    --blue-vnu: #0d2c6c;
    --yellow-vnu: #dd8d00;
    --gray-vnu: #e6e6e8;
    --text-white: #fff;
    --text-black: #000;
    --text-gray: #e6e6e8;
}

html {
    font-size: 12pt;
    line-height: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


a {
    color: var(--text-black);
    text-decoration: none;
}

a:hover {
    color: #0d2c6c;
    text-decoration: none;
}

.bg-vnu-gray {
    background-color: var(--gray-vnu);
}

.bg-vnu-blue {
    background-color: var(--blue-vnu);
}

