<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIS | Đại học Quốc gia Hà Nội</title>
    <link rel="Shortcut Icon" type="image/x-icon" href="/public/images/VNU-SIS-logo.png" />
    <!-- Google Font Open Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" />
    <!-- Fontawesome icon -->
    <link rel="stylesheet" href="/public/fonts/fontawesome-free-5.15.4-web/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="./style.css" />
</head>

<body>
    <div class="main">
        <header class="header">
            <nav class="header__nav">
                <div class="grid">
                    <ul class="header__nav-list">
                        <li class="header__nav-item">
                            <a href="">Email</a>
                        </li>
                        <li class="header__nav-item">|</li>
                        <li class="header__nav-item">
                            <a href="">E-office</a>
                        </li>
                        <li class="header__nav-item">|</li>
                        <li class="header__nav-item">
                            <a href="">Thư viện ảnh</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="header-with-search grid">
                <div class="header__logo">
                    <img alt="" src="/public/images/VNU-SIS-logo(vns).png" />
                </div>

                <div class="header__search-lang">
                    <ul class="header__search-lang-list">
                        <li class="header__search-item">
                            <img alt="" src="/public/images/en.jpg" />
                            <img alt="" src="/public/images/vi.jpg" />
                        </li>
                        <li class="header__search-item">
                            <p>Search | A - Z</p>
                        </li>
                        <li class="header__search-item">
                            <div class="header__search">
                                <input type="text" placeholder="---Từ khóa ---" />
                                <button>
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <nav class="header__nav">
                <ul class="header__navbar grid">
                    <li>
                        <a href="">Trang chủ</a>
                        <ul class="header__subnav">
                            <li><a href="">Tin tức | Sự Kiện</a></li>
                            <li><a href="">Tại sao chọn VNU - SIS</a></li>
                            <li>
                                <a href="">Cử nhân | Thạc sĩ | Tiến sĩ</a>
                            </li>
                            <li><a href="">Liên hệ</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Giới thiệu</a>
                        <ul class="header__subnav">
                            <li>
                                <a href="">Những dấu mốc trên hành trình phát
                                    triển
                                </a>
                            </li>
                            <li>
                                <a href="">Tầm nhìn, sứ mệnh và giá trị cốt lõi</a>
                            </li>
                            <li><a href="">Thông điệp của CNK</a></li>
                            <li><a href="">Cơ cấu tổ chức</a></li>
                            <li><a href="">Tư liệu hình ảnh - video</a></li>
                            <li>
                                <a href="">Báo chí nói gì về VNU - SIS</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Tuyển sinh</a>
                        <ul class="header__subnav">
                            <li><a href="">Cử nhân</a></li>
                            <li><a href="">Thạc sĩ</a></li>
                            <li><a href="">Tiến sĩ</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Đào tạo</a>
                        <ul class="header__subnav">
                            <li><a href="">Cử nhân</a></li>
                            <li><a href="">Thạc sĩ</a></li>
                            <li><a href="">Tiến sĩ</a></li>
                            <li><a href="">Luận văn - Luận án</a></li>
                            <li><a href="">Công tác sinh viên</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Tin tức</a>
                        <ul class="header__subnav">
                            <li><a href="">Tin về ĐHQGHN</a></li>
                            <li><a href="">Tin nội bộ</a></li>
                            <li><a href="">Tin chuyên ngành</a></li>
                            <li><a href="">Tin tuyển sinh</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Hợp tác phát triển</a>
                        <ul class="header__subnav">
                            <li>
                                <a href="">Thông tin hợp tác phát triển</a>
                            </li>
                            <li>
                                <a href="">Đối tác trong nước và quốc tế</a>
                            </li>
                            <li>
                                <a href="">Chương trình đào tạo quốc tế</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="container"></div>

        <footer class="footer"></footer>
    </div>
</body>

</html>